In [1]:
import pandas as pd

In [2]:
d1 = pd.read_csv("Bangalore_1990_2022_BangaloreCity.csv")
d1 = pd.concat([d1, pd.Series(["Bangalore"]*len(d1))], axis=1)

In [3]:
d2 = pd.read_csv("Chennai_1990_2022_Madras.csv")
d2 = pd.concat([d2, pd.Series(["Chennai"]*len(d2))], axis=1)

In [4]:
d3 = pd.read_csv("Delhi_NCR_1990_2022_Safdarjung.csv")
d3 = pd.concat([d3, pd.Series(["Dehli"]*len(d3))], axis=1)

In [5]:
d4 = pd.read_csv("Lucknow_1990_2022.csv")
d4 = pd.concat([d4, pd.Series(["Lucknow"]*len(d4))], axis=1)

In [6]:
d5 = pd.read_csv("Mumbai_1990_2022_Santacruz.csv")
d5 = pd.concat([d5, pd.Series(["Mumbai"]*len(d5))], axis=1)

In [7]:
d6 = pd.read_csv("Rajasthan_1990_2022_Jodhpur.csv")
d6 = pd.concat([d6, pd.Series(["Rajasthan"]*len(d6))], axis=1)

In [8]:
df_india = pd.concat([d1, d2, d3, d4, d5, d6])
df_india = df_india.dropna()
df_india = df_india.reset_index(drop=True)
df_india = pd.concat([df_india, round(df_india.prcp, -1)], axis=1)
df_india.columns = ["time", "avg_temp", "min_temp", "max_temp", "precipitation", "location", "precipitation_rounded"]

In [15]:
df_india

,time,avg_temp,min_temp,max_temp,precipitation,location,precipitation_rounded
0,03-01-1990,21.0,16.4,26.5,0.0,Bangalore,0.0
1,05-01-1990,20.4,14.2,26.1,0.0,Bangalore,0.0
2,08-01-1990,20.0,16.6,25.1,0.0,Bangalore,0.0
3,10-01-1990,21.2,15.0,27.7,0.0,Bangalore,0.0
4,11-01-1990,21.8,16.0,28.5,0.0,Bangalore,0.0
...,...,...,...,...,...,...,...
29597,21-07-2022,23.7,20.5,30.8,82.5,Rajasthan,80.0
29598,22-07-2022,23.2,21.1,27.9,0.0,Rajasthan,0.0
29599,23-07-2022,23.1,20.9,26.7,0.0,Rajasthan,0.0
29600,24-07-2022,22.8,20.0,26.7,0.3,Rajasthan,0.0
29601,25-07-2022,24.1,20.2,28.5,0.5,Rajasthan,0.0

In [19]:
df_india['time'] = pd.to_datetime(df_india['time'])
df_india = df_india.sort_values(by=['location', 'time']).reset_index(drop=True)

In [20]:
df_india

,time,avg_temp,min_temp,max_temp,precipitation,location,precipitation_rounded
0,1990-01-02,22.4,13.5,31.6,0.0,Bangalore,0.0
1,1990-01-03,26.0,21.4,31.5,0.0,Bangalore,0.0
2,1990-01-06,25.5,20.0,32.0,0.0,Bangalore,0.0
3,1990-01-07,22.7,19.6,28.3,0.0,Bangalore,0.0
4,1990-01-08,22.4,20.3,30.4,0.0,Bangalore,0.0
...,...,...,...,...,...,...,...
29597,2022-12-03,25.5,18.1,33.0,0.0,Rajasthan,0.0
29598,2022-12-04,26.7,20.5,34.0,0.0,Rajasthan,0.0
29599,2022-12-05,21.3,19.5,25.0,5.3,Rajasthan,10.0
29600,2022-12-06,23.0,19.7,28.8,10.0,Rajasthan,10.0
29601,2022-12-07,23.2,19.8,27.5,4.6,Rajasthan,0.0

In [22]:
df_final = df_india['precipitation_rounded']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
29597     0.0
29598     0.0
29599    10.0
29600    10.0
29601     0.0
Name: precipitation_rounded, Length: 29602, dtype: float64

In [21]:
df_india.to_csv("/Users/dreyerswart/Desktop/CODING_PROJECTS/actuarialstats/india_rainfall.csv")

In [23]:
df_final.to_csv("/Users/dreyerswart/Desktop/CODING_PROJECTS/actuarialstats/mc_data.csv")